[user]
    email = na@nachtalb.io
    name = Nachtalb
    signingkey = FB8B6CA09AE73612

[core]
    excludesfile = ~/.global_gitignore
    autocrlf = input
    pager = delta

[commit]
    gpgsign = true

[rerere]
    enabled = true
[status]
    showUntrackedFiles = all

[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    syntax-theme = base16
    navigate = true
    file-decoration-style = yellow ol ul
    file-style = bold yellow ul
[credential]
	helper = store
[push]
	autoSetupRemote = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[init]
	defaultBranch = master
