fish_variables
bin/autopep8
bin/black
bin/flake8
bin/pylint
bin/yapf
!*.secret
functions/*
completions/*
conf.d/*
.gitsecret/keys/random_seed

# Do not ignore own files
# Functions
!functions/fisher.fish
!functions/ccopy.fish
!functions/cpaste.fish
!functions/run.fish
!functions/dotfiles_install_symlinks.fish
!functions/dotfiles_install_symlinks.fish
!functions/vpn.fish.secret
!functions/hv.fish.secret
!functions/gh.fish
!functions/gl.fish
!functions/vim.fish
!functions/__history_double_exclamation.fish
!functions/history.fish

# Configs
!conf.d/abbriviations.fish
!conf.d/alias.fish
!conf.d/.gitnow

# Completions
!completions/fisher.fish
!completions/bun.fish
!completions/gh.fish
!completions/gl.fish
