fish_variables
bin/autopep8
bin/black
bin/flake8
bin/pylint
bin/yapf
functions/*.fish
completions/*.fish
conf.d/*.fish
!*.secret
functions/*.secret
completions/*.secret
conf.d/*.secret
!functions/fisher.fish
!completions/fisher.fish
.gitsecret/keys/random_seed
