[user]
    email = nickespig@gmail.com
    name = Nick Espig
    signingkey = E48DF13C07055D92

[core]
    excludesfile = ~/.global_gitignore
    autocrlf = input
    pager = less

[commit]
    gpgsign = true

[rerere]
    enabled = true
