[user]
    email = nickespig@gmail.com
    name = Nick Espig
    signingkey = E48DF13C07055D92

[core]
    excludesfile = /Users/bernd/.global_gitignore
    autocrlf = input
    pager = view -

[color]
    ui = never

[commit]
    gpgsign = true

[rerere]
    enabled = true
